table {
  margin: auto;
}

td {
  padding: 10px 20px;
  background-color: aliceblue;
}

th {
  background-color: lemonchiffon;
}

input[type="file"] {
  padding: 20px 0px;
}

input[type="text"] {
  width: 200px;
}
li {
  text-align: left;
  margin-left: 400px;
}

.submitArea {
  margin: auto;
  padding: 20px;
}

.submitArea button {
  margin: 0px 20px;
  padding: 10px;
  background-color: lightcyan;
  color: darkorange;
  font-size: 1.1rem;
  font-weight: bold;
  border: solid 1px gainsboro;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.submitArea button:hover {
  background-color: cyan;
  color: orange;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

